<div class="grid">
  <div class="user-card p-card p-component">
    <div class="p-card-header m-2">
      <div class="user-header">
        <p-image src="../../../assets/images/Khmer.png" alt="User Avatar" width="100" height="100"
          class="user-avatar border-round" [preview]="true"></p-image>
        <div class="user-info m-2">
          <h2 class="user-name">ប្រជាជនកម្ពុជា</h2>
          <p class="user-email">ខេត្តុ​ :<strong>ព្រះវិហារ</strong></p>
          <p class="user-email">ស្រុក :<strong>ជ័យសែន</strong></p>
          <p class="user-email">ឃុំ :<strong>ពុទ្រា</strong></p>
          <p class="user-email">ភូមិ :<strong>ពើក</strong></p>
        </div>
      </div>
    </div>
    <div class="p-card-content m-2">
      <p>ចំនួនប្រជាជនសរុប: <strong>២០០០០​</strong>នាក់</p>
      <p>ប្រុសសរុប: <strong>១០០០០​</strong>នាក់</p>
      <p>ស្រីសរុប: <strong>១០០០០​</strong>នាក់</p>
    </div>
    <div class="p-card-footer m-2">
      <button pButton type="button" label="View Details" icon="pi pi-eye" class="p-button-info w-full custom-box-shadow" routerLink="/dashboard/user"></button>
    </div>
  </div>
</div>
