<div class="grid">

  <!-- User Card -->
  <div class="col card">
    <div class="text-center p-3 border-round-sm font-bold">

      <p-card header="User Management" subheader="Total">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <ng-template pTemplate="footer">
          <p-button label="Detail" icon="pi pi-check" [routerLink]="['/dashboard/user']"></p-button>
        </ng-template>
      </p-card>

    </div>
  </div>

  <!-- Role Card -->
  <div class="col card">
    <div class="text-center p-3 border-round-sm font-bold ">

      <p-card header="Role Management" subheader="Total">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <ng-template pTemplate="footer">
          <p-button label="Detail" icon="pi pi-check" [routerLink]="['/dashboard/role']"></p-button>
        </ng-template>
      </p-card>

    </div>
  </div>

  <!-- Role Card -->
  <div class="col card">
    <div class="text-center p-3 border-round-sm font-bold ">

      <p-card header="Permission Management" subheader="Total">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <ng-template pTemplate="footer">
          <p-button label="Detail" icon="pi pi-check" [routerLink]="['/dashboard/permission']"></p-button>
        </ng-template>
      </p-card>

    </div>
  </div>

  <!-- Department Card -->
  <div class="col card">
    <div class="text-center p-3 border-round-sm font-bold ">

      <p-card header="Department Management" subheader="Total">
        <ng-template pTemplate="header">
          <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
        </ng-template>
        <ng-template pTemplate="footer">
          <p-button label="Detail" icon="pi pi-check" [routerLink]="['/dashboard/department']"></p-button>
        </ng-template>
      </p-card>

    </div>
  </div>

</div>
