.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.form, .image{
  max-width: 400px;
  .user-avatar {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for the image */
    border-radius: 8px; /* Optional: Add rounded corners */
  }
}
h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input.form-control,
select.form-control {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
}

input.form-control:focus,
select.form-control:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.text-danger {
  color: #dc3545;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.size {
  margin: 40px 0 0 0;
}

.back-btn {
  background-color: none;
}


.card {
  max-width: 400px; /* Set a maximum width for the card */
  overflow: hidden; /* Prevent overflow of the content */
}


